%margins {
	margin: 0;
	padding: 0;
}

%links {
	text-decoration: none;
}

body {
	@extend %margins;
	bottom: 0;
}

img {
	max-width: 100%;
	height: auto;
}
a {
	@extend %links;
}

.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100vh;


}



.box {
}

.container {
	display: flex;
}

.header, 
.main,
.aside,
.footer {
}	




.header__container {
	justify-content: space-between;
	align-items:flex-start;
}
@media (min-width: 1008px) {
	.header__container {
		justify-content: space-between;
		align-items: center;
	}
}




.title {
}

.menu__list {
}



@media (min-width: 1008px) {	
	.header__logo {
		width: 100px;
	}
	.menu__list {
		display: flex;
		flex-direction: row;

		.menu__item {
			margin: 0 50px 0 0;
			&:last-child{
				margin: 0 0 0 0;
			}
		}
	}
}




@media (min-width: 1008px) {
	.desctop {
		display: flex;
		flex-wrap: nowrap;
	}
}



@media (min-width: 1008px) {
	.main {
		max-width: 70%;
	}
}



.main__container {
	flex-direction: column;
}



h1{
	display: none;
}



@media (min-width: 1008px) {
	.aside {
		max-width: 30%;
	}
}



.aside__container {
	flex-direction: column;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
}



@media (min-width: 768px) {
	.aside__container {
		flex-direction: row;
		justify-content: space-between;

		.block {
			display: flex;
			flex-direction: column;
	
			width: 30%;
		}
	}
}

@media (min-width: 1008px) {
	.aside__container {
		flex-direction: column;
		align-items: center;
		.block {
			width: 100%;
		}
	}
}




.footer__container {
	flex-direction: column;
	align-items: center;
}



.footer__list {
	display: flex;
	flex-direction: column;

}
@media (min-width: 768px) {
	.footer__list {
		flex-direction: row;
		justify-content: space-between;

		width: 100%;


		border: 1px solid #000;
	}
	.footer__item {
		width: 20%;
	}
}



.actions__list {
}
@media (min-width: 768px) {
	.actions__list {
	}
}



.footer-menu__list {
}




.search__form{
	display: flex;
}

.search input{
	width: 100%;
	box-sizing: border-box;

	margin: 0 20px 0 0;
}

.search button{
	width: 30px;
}


